USE [master]
GO
/****** Object:  Database [MVC car]    Script Date: 4/29/2019 9:58:19 AM ******/
CREATE DATABASE [MVC car]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC car', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVC car.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVC car_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MVC car_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC car].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVC car]
GO
/****** Object:  Table [dbo].[Main]    Script Date: 4/29/2019 9:58:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Main](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nchar](10) NULL,
	[Name] [nchar](10) NULL,
	[Make] [nchar](10) NULL,
	[Year] [nchar](10) NULL,
 CONSTRAINT [PK_Main] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
